<!doctype html>
<html>
  <head>
    <title><%=title%></title>

  </head>
  <body>
    <h1><%=title%></h1>

    <canvas id='gameSpace' height='1000' width='1000' cross-origin="anonymous"
    style="width:20rem; height:20rem;"></canvas>
    <div id = 'assetStore'></div>

    <p><a href="/">home</a></p>
  
    <script src="<%=bundle%>.bundle.js"></script>


</body>
</html>